@font-face {
  font-family: 'Codec Pro Fat';
  src: url('CodecPro-Fat.eot');
  src: local('Codec Pro Fat'), local('CodecPro-Fat'),
    url('CodecPro-Fat.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-Fat.woff2') format('woff2'),
    url('CodecPro-Fat.woff') format('woff'),
    url('CodecPro-Fat.ttf') format('truetype');
  font-weight: 900;

}



@font-face {
  font-family: 'Codec Pro News';
  src: url('CodecPro-News.eot');
  src: local('Codec Pro News'), local('CodecPro-News'),
    url('CodecPro-News.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-News.woff2') format('woff2'),
    url('CodecPro-News.woff') format('woff'),
    url('CodecPro-News.ttf') format('truetype');
  font-weight: 300;

}

@font-face {
  font-family: 'Codec Pro';
  src: url('CodecPro-Heavy.eot');
  src: local('Codec Pro Heavy'), local('CodecPro-Heavy'),
    url('CodecPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-Heavy.woff2') format('woff2'),
    url('CodecPro-Heavy.woff') format('woff'),
    url('CodecPro-Heavy.ttf') format('truetype');
  font-weight: bold;

}

@font-face {
  font-family: 'Codec Pro';
  src: url('CodecPro-Thin.eot');
  src: local('Codec Pro Thin'), local('CodecPro-Thin'),
    url('CodecPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-Thin.woff2') format('woff2'),
    url('CodecPro-Thin.woff') format('woff'),
    url('CodecPro-Thin.ttf') format('truetype');
  font-weight: 100;

}



@font-face {
  font-family: 'Codec Pro';
  src: url('CodecPro-Bold.eot');
  src: local('Codec Pro Bold'), local('CodecPro-Bold'),
    url('CodecPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-Bold.woff2') format('woff2'),
    url('CodecPro-Bold.woff') format('woff'),
    url('CodecPro-Bold.ttf') format('truetype');
  font-weight: 500;

}



@font-face {
  font-family: 'Codec Pro';
  src: url('CodecPro-Light.eot');
  src: local('Codec Pro Light'), local('CodecPro-Light'),
    url('CodecPro-Light.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-Light.woff2') format('woff2'),
    url('CodecPro-Light.woff') format('woff'),
    url('CodecPro-Light.ttf') format('truetype');
  font-weight: 300;

}

@font-face {
  font-family: 'Codec Pro';
  src: url('CodecPro-ExtraBold.eot');
  src: local('Codec Pro ExtraBold'), local('CodecPro-ExtraBold'),
    url('CodecPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('CodecPro-ExtraBold.woff2') format('woff2'),
    url('CodecPro-ExtraBold.woff') format('woff'),
    url('CodecPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;

}
