.page {
    width: 100%;
     min-height: 708px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 40px;
    color: #012345;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .subtitle {
    font-weight: 300;
    font-size: 14px;
    color: #677b8f;
    margin-bottom: 40px;
  }

  @media (max-width: 415px) {
    .title {
        font-size: 30px;
        margin-bottom: 10px;
    }
  }
  @media (max-width: 355px) {
    .title {
        font-size: 25px;
        margin-bottom: 10px;
    }
  }
  