@import '../fonts/stylesheet.css';
.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  font-family: "Codec Pro";
  user-select: none
}

.main {
  background: #f3f4f7;
  border-radius: 48px;
  min-height: 708px;
  padding: 54px 64px;
  margin-top: 40px;
  display: flex;
}

.btn {
  background: #4959FF;
  border-radius: 12px;
  font-size: 16px;
  color: #FCFCFC;
  outline: none;
  border: none;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  transition:0.5s;
}
.btn:hover {
  background: #4959FF;
  opacity: 0.7;
}
@media (max-width: 415px) {
  .main {
    padding: 26px 16px;
    margin-top: 20px;
  }
}
