.tabsContent {
    display: flex;
    flex-direction: column;
  }
  
   .tabsText {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #677b8f;
    margin-bottom: 20px ;
  }
  
   .features,
   .features .featuresList {
    display: flex;
    flex-direction: column;
  }
   .features .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    color: #012345;
  }
    .featuresItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
   .itemImg {
    display: flex;
    padding: 34px 30px;
    justify-content: center;
    align-items: center;
    background: #f3f4f7;
    border-radius: 16px;
    margin-right: 24px;
  }
    .itemContent {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #677b8f;
  }
    .contentTitle {
    color: #012345;
    font-weight: 500;
    margin-bottom: 8px;
  }

  @media (max-width: 375px){
    .featuresItem .itemImg {
        margin-right: 16px;
        padding: 31px 20px;
    }
    .featuresItem .itemImg img{
        width: 22px;
    }
  }